.classpath
.project
/target/
config-dump.properties
.idea/
.settings/
test-output/
tigase-tts-ng.iml
tmp
tigase_test_db
derby.log
unzip.log
test-results
files
tests-runner-settings.sh
tigasetest
tests-results

src/main/restructured/_build/
src/main/restructured/locale/pl/LC_MESSAGES/*.mo
