<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tigase TTS-NG test summary</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="assets/css/fork-awesome.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class='wrapper'>
    <nav class='navbar navbar-default navbar-static-top' role='navigation'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='index.html' title='Home' id='logo'>
                <p>Tigase XMPP Server: TTS-NG reports</p>
            </a>
        </div>
    </nav>
    <div id='page-wrapper' class='no-sidebar'>
        <div class='row'>
            <div class='well well-lg'>
                This is a page with reports for the automatic TTS-NG tests we run for each nightly release<br/><br/>Following
                tests are available
                <br/>
                <br/>
                <div class='list-group' style='margin-bottom: 0px'>
                    #foreach($type in $testTypes)
                        <a class='list-group-item' href='#$type'>
                            $type
                        </a>
                    #end
                </div>
            </div>

            #foreach($type in $testTypes)
                <div class='table-responsive'>
                    <table class='table table-striped table-bordered'
                           summary='Tigase XMPP Server tests results for different databases'>

                        <caption id='$type'>
                            $type
                        </caption>

                        <thead>
                        <tr>
                            <th>Version</th>

                            #foreach($db in $databases)
                                <th style='width: calc((100% - 300px)/$databases.size());'>$db</th>
                            #end
                        </tr>
                        </thead>

                        <tbody>

                            #foreach($version in $type.getVersions())
                            <tr>
                                <td>
                                    <div class='tooltip2'>
                                        <span class='tooltiptext2 right'>$version.getCommonDate()</span>
                                        $version.getVersion()
                                    </div>
                                </td>

                                #foreach( $db in $databases)
                                    #set( $test = $version.getTestReportFor($db) )

                                    #if( ! $test )
                                        <td>
                                            -
                                        </td>
                                    #{else}
                                        <td class="$test.getTestResult().getCssClass()">
                                            #if($test.getMetrics())
                                                <a href='$rootPath/$test.getReportPath()'>
                                                    <div class='tooltip2 results'>
                                                        <span class='tooltiptext2 left'>Passed / Skipped / Failed | Total</span>
                                                        $test.getMetrics().getMetricsInfo()
                                                    </div>
                                                    <div class='tooltip2 time'>
                                                        <span class='tooltiptext2 left'>Test running time</span>
                                                        $test.getMetrics().getFormattedDuration()
                                                    </div>
                                                </a>
                                            #end
                                            <div class='tooltip2'>
                                                <span class='tooltiptext2 left'>Server log: logs/tigase-console.log</span>
                                                <a href='$rootPath/$test.getLogPath()' title="Server log: logs/tigase-console.log">
                                                    <i class="fa fa-book" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    #end

                                ## Velocity doesn't allow setting varliable to 'null' so as a workaround we have
                                ## have to 'reset' it by setting it to 'false' at the end of the loop
                                    #set ($test = false)
                                #end
                            </tr>
                            #end
                    </table>
                </div>
            #end
        </div>
    </div>
</div>


</body>