<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tigase XMPP Server Tests" verbose="1">
	<test name="Example Jaxmpp Test">
		<classes>
			<class name="tigase.tests.ExampleJaxmppTest" />
		</classes>
	</test>
	<test name="Sending XMPP messages using HTTP REST API">
		<classes>
			<class name="tigase.tests.Test2936" />
		</classes>
	</test>
</suite>
