<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tigase XMPP Server Tests" verbose="1">
	<test name="Retrieve server version">
		<classes>
			<class name="tigase.tests.util.RetrieveVersion" />
		</classes>
	</test>
	<test name="Retrieve server statistics 1">
		<classes>
			<class name="tigase.tests.util.RetrieveStatistics" />
		</classes>
	</test>


	<test name="Example Jaxmpp Test">
		<classes>
			<class name="tigase.tests.ExampleJaxmppTest" />
		</classes>
	</test>
	<test name="Test #2928 - HTTP - REST API: REST API for Setting/Updating Privacy Rules">
		<classes>
			<class name="tigase.tests.Test2928" />
		</classes>
	</test>	
	<test name="Test #2936 - HTTP - REST API: Sending XMPP messages using HTTP REST API">
		<classes>
			<class name="tigase.tests.Test2936" />
		</classes>
	</test>
	<test name="Test #2939 - TLS - Client Cert: Two-way TLS">
		<classes>
			<class name="tigase.tests.Test2939"/>
		</classes>
	</test>
	<test name="Test #2944 - XMPP - Offline Messages: Setting offline messages limit to 3">
		<classes>
			<class name="tigase.tests.Test2944" />
		</classes>
	</test>
	<test name="Test #2947 - XMPP - Offline Message Sink Provider">
		<classes>
			<class name="tigase.tests.Test2947" />
		</classes>
	</test>
	<test name="Test #2955 - HTTP - Admin: Web Admin UI">
		<classes>
			<class name="tigase.tests.Test2955" />
		</classes>
	</test>
	<test name="Test 2959 - HTTP - REST API: REST API for PubSub Message Expiration">
		<classes>
			<class name="tigase.tests.Test2959" />
		</classes>
	</test>
	<test name="Test #2951 - Tigase XMPP server monitoring">
		<classes>
			<class name="tigase.tests.Test2951" />
		</classes>
	</test>

	<test name="Retrieve server statistics 2">
		<classes>
			<class name="tigase.tests.util.RetrieveStatistics" />
		</classes>
	</test>

</suite>
