<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tigase XMPP Server Tests" verbose="1">
	<test name="Retrieve server version">
		<classes>
			<class name="tigase.tests.util.RetrieveVersion" />
		</classes>
	</test>
	<test name="Retrieve server statistics 1">
		<classes>
			<class name="tigase.tests.util.RetrieveStatistics" />
		</classes>
	</test>


	<test name="Example Jaxmpp Test">
		<classes>
			<class name="tigase.tests.ExampleJaxmppTest" />
		</classes>
	</test>
	<test name="Test #2928 - HTTP - REST API: REST API for Setting/Updating Privacy Rules">
		<classes>
			<class name="tigase.tests.Test2928" />
		</classes>
	</test>	
	<test name="Test #2936 - HTTP - REST API: Sending XMPP messages using HTTP REST API">
		<classes>
			<class name="tigase.tests.Test2936" />
		</classes>
	</test>
	<test name="Test #2939 - TLS - Client Cert: Two-way TLS">
		<classes>
			<class name="tigase.tests.Test2939"/>
		</classes>
	</test>
	<test name="Test #2944 - XMPP - Offline Messages: Setting offline messages limit to 3">
		<classes>
			<class name="tigase.tests.Test2944" />
		</classes>
	</test>
	<test name="Test #2947 - XMPP - Offline Message Sink Provider">
		<classes>
			<class name="tigase.tests.Test2947" />
		</classes>
	</test>
	<test name="Test #2955 - HTTP - Admin: Web Admin UI">
		<classes>
			<class name="tigase.tests.Test2955" />
		</classes>
	</test>
	<test name="Test 2959 - HTTP - REST API: REST API for PubSub Message Expiration">
		<classes>
			<class name="tigase.tests.Test2959" />
		</classes>
	</test>
	<test name="Test #2951 - Tigase XMPP server monitoring">
		<classes>
			<class name="tigase.tests.Test2951" />
		</classes>
	</test>
	<test name="MUC Max Users">
		<classes>
			<class name="tigase.tests.Test3179" />
		</classes>
	</test>
	<test name="Retrieve server statistics 2">
		<classes>
			<class name="tigase.tests.util.RetrieveStatistics" />
		</classes>
	</test>
	<test name="Test #3258 - HTTP - REST API: Test support for retrieval of XEP-0084: User Avatar using REST API call">
		<classes>
			<class name="tigase.tests.Test3258" />
		</classes>
	</test>
	<test name="Test #3305 - WebSocket: Test WebSocket connectivity">
		<classes>
			<class name="tigase.tests.Test3305" />
		</classes>		
	</test>
	<test name="Test #3544 - XMPP - PubSub: Removal of PEP nodes on user removal">
		<classes>
			<class name="tigase.tests.Test3544" />
		</classes>		
	</test>
	<test name="Test #3993 - XMPP - PubSub: Testing propagation of changes to node configuration to other cluster nodes">
		<classes>
			<class name="tigase.tests.Test3993" />
		</classes>
	</test>
	<test name="Test #4262 - XMPP - StreamManagement: Testing message delivery reliability related to stream resumption and resource conflict">
		<classes>
			<class name="tigase.tests.Test4262" />
		</classes>
	</test>
	<test name="Test #4298 - XMPP - StreamManagement: Testing message delivery reliability related to stream resumption and sending message to offline contact">
		<classes>
			<class name="tigase.tests.Test4298" />
		</classes>
	</test>
	<test name="Test #4266 - JaXMPP - Testing reconnections">
		<classes>
			<class name="tigase.tests.Test4266" />
		</classes>
	</test>
	<test name="Test #4378 - JaXMPP - Testing state of JaXMPP instance after issues with connection or authentication timeout">
		<classes>
			<class name="tigase.tests.Test4378" />
		</classes>
	</test>
</suite>
